<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
</head>
<body>
<form action="/boardWrite" method="post">
    작성자 : <input type="text" name="writer" size="12" readonly th:value="${value.writer}"> </br>
    제목 : <input type="text" name="title" size="12"readonly th:value="${value.title}"></br>
    <textarea class="form-control" rows="5" name="content" readonly th:text="${value.content}">
    </textarea>
</form>
<a th:href="@{/delete(id=${value.id})}">
    <button name="button">삭제</button>
</a>
</body>
</html>